.login-signup{
    .l-from{
        display:flex;
        align-items:center;
        justify-content:center;
        .form{
            width:360px;
            padding: 2rem;
            border-radius:1rem;
            box-shadow: 0 10px 25px rgba(92,99,105,0.2);
            .form_title{
                font-weight: 400;
                margin-bottom: 3rem;
            }
            
            .form_div{
                position: relative;
                height:48px;
                margin-bottom: 1.5rem;
            }
            
            .form_input{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                font-size: 1rem;
                border: 1px solid #DADCE0;
                border-radius: .5rem;
                outline: none;
                padding: 1rem;
                background: none;
                z-index: 1;
            }
            .form_label{
                position:absolute;
                left: 1rem;
                top: 1rem;
                padding: 0 .25rem;
                background-color: #fff;
                color: #80868B;
                font-size:1rem;
                transition: .3s;
            }
            p{
                font-size: 14px;
            }
            
            .form_button{
                display: block;
                margin-left:auto ;
                outline: none;
                padding:.75rem 2rem;
                border: none;
                background-color:#1A73E8;
                color: #fff;
                font-size:1rem;
                border-radius:.5rem;
                cursor: pointer;
                transition:.3s;
            }
            
            .form_button:hover{
                box-shadow: 0 10px 36px rgba(0,0,0,.15)
            }
            
            /* input focus move up label */
            .form_input:focus + .form_label {
                top:-.5rem;
                left:.8rem;
                color: #1A73E8;
                font-size: .75rem;
                font-weight: 500;
                z-index: 10;
                width: fit-content;
            }
            
            /* Input Focus sticky top label */
            .form_input:not(:placeholder-shown).form_input:not(:focus)+ .form_label{
                top:-.5rem;
                left:.8rem;
                font-size: .75rem;
                font-weight: 500;
                z-index: 10;
            }
            
            /* INPUT FOCUS */
            .form_input:focus{
                border: 1.5px solid #1A73E8;
            }
        }
    }
}
.login-ar{
    .form_label{
        position:absolute;
        right: 1rem;
        top: 1rem;
        padding: 0 .25rem;
        background-color: #fff;
        color: #80868B;
        font-size:1rem;
        transition: .3s;
    }
}