


    h1
    {
        color:#12233f;
        font-weight:bold;
        margin-top: 15px;

    }
    p
    {
        .pp{
            font-size: 22px;
            color:#687093;
            margin-top: 15px;
        }
    

    }
    
    
    .cont
    {

        margin-top: 80px;
        h5{
            color: #162946;
            font-weight:bold;
            
        }
        h5:hover
        {
            color: #db9108;
            cursor: pointer;
        }
        p
        {
            color:#687093; 
        }
    }
    
        .shop
        {
        
            border-right: 1px solid #e6eafd;

        }
        .user
        {
            border-right: 1px solid #e6eafd;

        }

    

    
