.notfound{
    .notfoundpage{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 250px;
        font-size: 120px;
        flex-direction: column;
    }
}