/** @format */
.brands{
  border-top: 1px solid grey;
  .hoverA {
    color: #122357;
    text-decoration: none;
    transition: .3s;
    &:hover {
      color: orange;
    }
    span {
      font-size: 12px;
    }
  }
  
}

.border1{
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}


#brand__container{
  float: left;
  width:250px;
  left:0;
  height:250px;
  display:block;
  overflow:scroll;
}
