.shop{
    .icons{
        button{
            &:focus{
                background-color: #18A2D3;
                color: #FFF;
                outline: none;
                box-shadow: none;
            }
        }
    }
    .products{

        nav{ 
            ul{
                a{
                    text-decoration: none;
                    border-radius: 5px;
                    &.active{
                        background-color: #18A2D3;
                        color: #FFF;
                        li{
                            span{
                                text-decoration: none;
                                background: transparent;
                                color: #FFF;
                                box-shadow: none;
                            }
                        }
                    }
                    li{
                        span{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
.loading{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

select{
    &:focus{
        box-shadow: none !important;
        outline: none;
    }
    option{
        &:hover{
            background-color: #FFF !important;

        }
    }
}
input, button, textarea ,select{
    &:focus{
        box-shadow: none !important;
        outline: none;
    }
}