.shop{
    .icons{
        button{
            &:focus{
                background-color: #18A2D3;
                color: #FFF;
                outline: none;
                box-shadow: none;
            }
        }
    }
}