.top {
  background-color: #f0f2f5;
  font-size: 12px;
  .first-span {
  }
  .icons {
    span {
      margin-inline: 10px;

      i {
      }
      button {
      }
    }
  }
}
.middle {
  font-size: 12px;

}

.search {
  .box {
    img {
    }
  }
  .search-input {
    input {
    }
    span {
      i {
      }
    }
  }
}

// #div1 {
//   background-color: lightgray;
//   padding: 5px;
// }

// #div2 {
//   margin-top: 30px;
// }

// #navbarNav {
//   height: 50px;
// }
// img {
//   // height: 50%;
//   width: 100%;
//   // margin-top: 30px;
//   // margin-left: 50px;
// }
// #face,
// #insta {
//   margin-right: 15px;
// }
// #linked {
//   margin-right: 50px;
// }
// #form {
//   margin-right: 100px;
//   width: 100%;
// }
// #search {
//   border-radius: 20px;
// }

// #form {
//   position: relative;
//   padding: 0;
//   margin: 0;
// }
// #search {
//   height: 30px;
//   margin-right: 0px;
//   padding-left: 30px;
// }
// #icon {
//   position: absolute;
//   bottom: 8px;
//   left: 10px;
//   width: 15px;
//   height: 15px;
// }
