.top {
  background-color: #f0f2f5;
  font-size: 12px;
  .first-span {
  }
  .icons {
    span {
      margin-inline: 10px;

      i {
      }
      button {
      }
    }
  }
}
.middle {
  font-size: 12px;
  nav {
    background-color: #12233f;
    .box {
      width: 100%;
      height: 34px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    ul {
      li {
        margin-inline: 10px;
      }
    }
  }
}

.search {
  .box {
    img {
      width: 80%;
      height: 100%;
    }
  }
  .search-input {
    input {
    }
    span {
      i {
      }
    }
  }
}

.ar-style {
  .input-group
    > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
      border-radius: 0.25rem;
      margin-right: -1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu), .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3) {
    border-radius: 0.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    
}
}
