.footer{
    .branches{
        margin: 0 !important;
    }
    .icons {
        span {
          margin-inline: 10px;
          a{
            color: #FFF;
          }
          .fa-facebook-f{
            transition: .3s;
            &:hover{
              color: #1877f2;
            }
          }
          .fa-instagram{
            transition: .3s;
            &:hover{
              color: #833ab4;
            }
          }
          .fa-linkedin-in{
            transition: .3s;
            &:hover{
              color: #0077b5;
            }
          }
        }
    }
}