.caro{
    color: white;
    height: 100vh;
    .carousel{
        .control-dots{
            position: absolute;
            bottom: 0;
            margin: 10px 0;
            padding: 0;
            text-align: center;
            width: 40px;
            height: 100%;
            z-index: 1;
            right: 0;
            top: 50%;
            transform: translate(-50%);
            .dot{
                display: block;
                margin: 15px;
                transition: .3s;
                &:hover{transform: scale(1.5);}

            }
            .selected{transform: scale(1.5)}
        }
        .carousel-status{
            display: none;
        }
    } 
    h1{
        font-size: 70px;font-weight: 900;line-height: 70px;
    }
    h2{
        font-size: 32px;font-weight: 700;line-height: 32px;
    }
    p{
        font-size: 22px;font-weight: 400;line-height: 26px;text-align: center;
    }
    
}


