.caro{
    color: white;
    height: 100vh;
    .carousel-inner{
        padding:0 50px;
    }
    .carousel{
        .control-dots{
            position: absolute;
            width: 40px;
            z-index: 1;
            right: 0;
            bottom: 50%;
            transform: translate(0,50%);
            .dot{
                display: block;
                margin: 15px;
                transition: .3s;
                &:hover{transform: scale(1.5);}

            }
            .selected{transform: scale(1.5)}
        }
        .carousel-status{
            display: none;
        }
    } 
    .carousel .control-next.control-arrow{
        right: 47.5%;
        top: 80%;
    }
    
    .carousel .control-prev.control-arrow{
        left: 47.5%;
       bottom: 70%;
    }
    .carousel .control-next.control-arrow:before {
        border-top: 20px solid #fff;
    }
    .carousel .control-prev.control-arrow:before {
        border-bottom: 20px solid #fff;
    }
    .carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before{
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
    }
    .carousel.carousel-slider .control-arrow:hover{
        background-color: transparent;
    }
    h1{
        font-size: 70px;font-weight: 900;line-height: 70px;
    }
    h2{
        font-size: 32px;font-weight: 700;line-height: 32px;
    }
    p{
        font-size: 22px;font-weight: 400;line-height: 26px;text-align: center;
    }
    #carouselExampleIndicators{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    #carouselExampleIndicators ul{
        list-style-type: disc;
        list-style-position: inside;
        font-size: 18px;
        text-align: justify;
    }
    @media screen and (max-width :600px){
        h1{
            font-size: 26px;line-height: 32px;
        }
        h2{
            font-size: 18px;line-height: 22px;
        }
        P{
            display: none;
        }
        p{
            font-size: 14px;line-height: 22px;
        }
        li{
            font-size: 12px;
        }
        .carousel .control-next.control-arrow{
            right: 44.5%;
        }
        .carousel .control-prev.control-arrow{
            left: 44.5%;
        }
        .carousel-control-prev{
            left: 28px;
        }
        .carousel-control-next{
            right: 28px;
        }
    }
    @media (min-width :600px)and(max-width:800px){
        h1{
            font-size: 45px;line-height: 45px;
        }
        h2{
            font-size: 28px;line-height: 28px;
        }
        p{
            font-size: 18px;line-height: 24px;
        }
    }
}


